all:
  vars:
    ansible_python_interpreter: /usr/bin/python3
  children:
    bastion:
      hosts:
        ${bastion_instance.public_dns}:
    private:
      hosts:
    %{ for instance in private_instances ~}
    ${instance.private_ip}:
    %{ endfor ~}

        